---
import Button from './Button.astro';
import { Image } from 'astro:assets';
import hero from '../assets/commerce-logos.png';

const currentLang = Astro.url.pathname.split('/')[1] == 'en' ? 'en' : 'pl';
let str;
if (currentLang === 'en') {
    str = await import('../content/en/strings.md');
} else {
    str = await import('../content/pl/strings.md');
}
---

<div class="container mx-auto px-8 md:mb-16">
    <div class="relative py-10 md:pb-24 md:pt-36">
        <div class="text-3xl md:text-4xl mb-12 uppercase max-w-2xl" set:html={str.frontmatter.slogan}></div>
        <Button href="https://phpers.day" variant="phpers">{str.frontmatter.buy_ticket}</Button>
        <div class="hero-border"></div>
        <div class="hero-img hidden xl:block"><Image src={hero} alt="commerce_dev" /></div>
    </div>
</div>

<script src="../scripts/countdown.js"></script>

<style>
    .hero-border {
        position: absolute;
        bottom: 0;
        right: -4rem;
        z-index: -1;
        width: calc(100% + 16rem);
        height: 100%;
        border-radius: var(--radius-3xl);
    }

    .hero-border {
        border: 1px solid #0000;
        background: linear-gradient(black, black) padding-box, linear-gradient(var(--angle), black, var(--color-yellow-200)) border-box;
        animation: 8s rotate linear infinite;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    .hero-img {
        position: absolute;
        top: -1vw;
        right: -7vw;
        width: 50%;
    }
</style>
