---
import Button from './Button.astro';
---

<div id="idea" class="container mx-auto px-8 mb-16 lg:mb-30 pt-16">
    <h2 class="text-4xl text-yellow-200 uppercase mb-12">Idea</h2>
    <div class="md:grid grid-cols-5 gap-4">
        <div class="col-span-2 text-2xl font-light pb-10">
            <div class="mb-8">Mollit sint excepteur labore pariatur sit nostrud Lorem. Fugiat nulla ex tempor occaecat Lorem excepteur enim commodo.</div>
            <Button href="#buy" variant="primary">Buy Tickets</Button>
        </div>
        <div class="col-span-2 mb-8 text-zinc-400">
            Est ex ut amet sit. Occaecat anim nisi veniam commodo non Lorem deserunt esse enim ullamco. Consectetur consequat cillum et sit amet consectetur culpa commodo laborum eiusmod irure elit magna elit fugiat. Nisi occaecat dolore velit exercitation Lorem sunt sit consequat est deserunt duis eu.
        </div>
    </div>
</div>
