---
import Button from './Button.astro';
---

<div class="container mx-auto px-8 mb-16 lg:mb-30 pt-16">
    <div class="md:grid grid-cols-8">
        <div class="col-span-3 mb-12">
            <h2 class="text-4xl text-yellow-200 uppercase mb-12">Co znajdziesz w agendzie?</h2>
            <div class="mb-16 text-3xl text-balance">Prelekcje i panele dyskusyjne prowadzone przez ekspertów, architektów i maintainerów najbardziej rozpoznawalnych rozwiązań w e-commerce:</div>
            <Button href="#buy" variant="primary" disabled={true}>Kup bilet<span class="text-xs pl-2">wkrótce</span></Button>
        </div>
        <div class="col-span-4 col-start-5 text-balance"> 

            <div class="flex items-center mb-5 pb-5 border-b border-dotted border-neutral-700">
                <div class="shrink-0 text-yellow-200 w-20">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2803 6.76264C19.5732 7.05553 19.5732 7.53041 19.2803 7.8233L9.86348 17.2402C9.57058 17.533 9.09571 17.533 8.80282 17.2402L4.71967 13.157C4.42678 12.8641 4.42678 12.3892 4.71967 12.0963C5.01256 11.8035 5.48744 11.8035 5.78033 12.0963L9.33315 15.6492L18.2197 6.76264C18.5126 6.46975 18.9874 6.46975 19.2803 6.76264Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="grow-1">
                    Platformy open-source: Magento, Hyvä, OpenMage, Mage-OS, OroCommerce, PrestaShop, WooCommerce, Shopware, Sylius, Ibexa
                </div>
            </div>

            <div class="flex items-center mb-5 pb-5 border-b border-dotted border-neutral-700">
                <div class="shrink-0 text-yellow-200 w-20">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2803 6.76264C19.5732 7.05553 19.5732 7.53041 19.2803 7.8233L9.86348 17.2402C9.57058 17.533 9.09571 17.533 8.80282 17.2402L4.71967 13.157C4.42678 12.8641 4.42678 12.3892 4.71967 12.0963C5.01256 11.8035 5.48744 11.8035 5.78033 12.0963L9.33315 15.6492L18.2197 6.76264C18.5126 6.46975 18.9874 6.46975 19.2803 6.76264Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="grow-1">
                    Polskie SaaSy: Shoper, IdoSell, IAI Systems, _Stores
                </div>
            </div>

            <div class="flex items-center mb-5 pb-5 border-b border-dotted border-neutral-700">
                <div class="shrink-0 text-yellow-200 w-20">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2803 6.76264C19.5732 7.05553 19.5732 7.53041 19.2803 7.8233L9.86348 17.2402C9.57058 17.533 9.09571 17.533 8.80282 17.2402L4.71967 13.157C4.42678 12.8641 4.42678 12.3892 4.71967 12.0963C5.01256 11.8035 5.48744 11.8035 5.78033 12.0963L9.33315 15.6492L18.2197 6.76264C18.5126 6.46975 18.9874 6.46975 19.2803 6.76264Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="grow-1">
                    Międzynarodowe SaaSy: Shopify, BigCommerce
                </div>
            </div>

            <div class="flex items-center mb-5 pb-5 border-b border-dotted border-neutral-700">
                <div class="shrink-0 text-yellow-200 w-20">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2803 6.76264C19.5732 7.05553 19.5732 7.53041 19.2803 7.8233L9.86348 17.2402C9.57058 17.533 9.09571 17.533 8.80282 17.2402L4.71967 13.157C4.42678 12.8641 4.42678 12.3892 4.71967 12.0963C5.01256 11.8035 5.48744 11.8035 5.78033 12.0963L9.33315 15.6492L18.2197 6.76264C18.5126 6.46975 18.9874 6.46975 19.2803 6.76264Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="grow-1">
                    DXP i enterprise: VTEX, Adobe Commerce, Salesforce, SAP Hybris, commercetools, Spryker, HTC, Oracle
                </div>
            </div>

            <div class="flex items-center mb-5 pb-5 border-b border-dotted border-neutral-700">
                <div class="shrink-0 text-yellow-200 w-20">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.2803 6.76264C19.5732 7.05553 19.5732 7.53041 19.2803 7.8233L9.86348 17.2402C9.57058 17.533 9.09571 17.533 8.80282 17.2402L4.71967 13.157C4.42678 12.8641 4.42678 12.3892 4.71967 12.0963C5.01256 11.8035 5.48744 11.8035 5.78033 12.0963L9.33315 15.6492L18.2197 6.76264C18.5126 6.46975 18.9874 6.46975 19.2803 6.76264Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="grow-1">
                    Customowe rozwiązania: autorskie silniki tworzone przez uznane agencje i indywidualne wdrożenia
                </div>
            </div>
        </div>
    </div>
</div>
