<div class="grid grid-cols-1 md:grid-cols-2 gap-4 container mx-auto px-12 md:px-8">
    <div id="sponsors" class="pt-16">
        <h2 class="hidden lg:block text-4xl uppercase mb-12">Sponsors</h2>
        <div class="grid lg:grid-cols-2 gap-4">
            <div class="hidden lg:flex justify-center items-center bg-[#161612] text-[#5F512C] rounded-4xl">
                YOUR LOGO
            </div>
            <a href="#" class="flex flex-col justify-between shape py-10 md:py-12 md:hover:py-14 transition-all px-8 md:aspect-1/1 rounded-4xl gap-6">
                <div class="">
                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.681 2H51.476V34.795M51.681 2.81988L2 52.5001" stroke="black" stroke-width="4"/>
                    </svg>
                </div>
                <div class="text-xl sm:text-3xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-black uppercase">Become a sponsor</div>
            </a>
        </div>
    </div>

    <div id="partners" class="md:pt-16">
        <h2 class="hidden lg:block text-4xl uppercase md:mb-12">Partners</h2>
        <div class="grid lg:grid-cols-2 gap-4">
            <div class="hidden lg:flex justify-center items-center bg-[#161612] text-[#5F512C] rounded-4xl">
                YOUR LOGO
            </div>
            <a href="#" class="flex flex-col justify-between shape py-10 md:py-12 md:hover:py-14 transition-all px-8 md:aspect-1/1 rounded-4xl gap-6">
                <svg class="md:hidden" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.681 2H51.476V34.795M51.681 2.81988L2 52.5001" stroke="black" stroke-width="4"/>
                </svg>
                <div class="text-xl sm:text-3xl md:text-3xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-black uppercase">Become a partner</div>
                <div class="hidden md:block">
                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.681 2H51.476V34.795M51.681 2.81988L2 52.5001" stroke="black" stroke-width="4"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
