---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>COMMERCE_DEV | NO SALES BULLSHIT, NO MARKETING BINGO. JUST PURE TECH KNOW-HOW.</title>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://commerce-dev.com/" />
		<meta property="og:title" content="COMMERCE_DEV | NO SALES BULLSHIT, NO MARKETING BINGO. JUST PURE TECH KNOW-HOW." />
		<meta property="og:description" content="COMMERCE_DEV to pierwsza konferencja w pełni dedykowana specjalistom IT w e-commerce, a nie handlowcom!" />
		<meta property="og:image" content="/og.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://commerce-dev.com/" />
		<meta property="twitter:title" content="COMMERCE_DEV | NO SALES BULLSHIT, NO MARKETING BINGO. JUST PURE TECH KNOW-HOW." />
		<meta property="twitter:description" content="COMMERCE_DEV to pierwsza konferencja w pełni dedykowana specjalistom IT w e-commerce, a nie handlowcom!" />
		<meta property="twitter:image" content="/og.png" />
	</head>
	<body class="bg-black text-white antialiased leading-relaxed">
		<slot />
	</body>
</html>
